.navbar-header a.navbar-brand{
    margin-top: -15px;
    margin-bottom: -20px;
}

.navbar-header a.navbar-brand h6{
    color: #CCC;
}

footer {
    padding-left: 15px;
    padding-right: 15px;

}

footer p {
    border-top: 1px solid #d7e0e2;
}

.navbar-form .form-group{
    margin-left: 10px;
}

.navbar-form .form-group button{
    margin-left: 10px;
}

.toast-top-right{
    top: 70px;
}

.toast-success{
    background-color: #13987e;
}