extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href='/') CleanSky
                    h6 - Cleaning Services -
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                    a(href="/") Home
                div(ng-include="'/partials/account/navbar-login'")


    section.content
        div(ng-view)

    footer.container.text-center
        p &copy; 2015 Clean Sky Cleaning Services Ltd.