.container
    .well
        form.form-horizontal(name='signupForm')
            fieldset
                legend New User Information
                .form-group
                    label.col-md-2.control-label(for='email') Email
                    .col-md-10
                        input.form-control(name='email', type='email',placeholder='Email', ng-model='email', required)
                .form-group
                    label.col-md-2.control-label(for='email') Password
                    .col-md-10
                        input.form-control(name='password', type='password',placeholder='Password', ng-model='password', required)
                .form-group
                    label.col-md-2.control-label(for='email') First Name
                    .col-md-10
                        input.form-control(name='firstName', type='text',placeholder='First Name', ng-model='firstName', required)
                .form-group
                    label.col-md-2.control-label(for='email') Last Name
                    .col-md-10
                        input.form-control(name='lastName', type='text',placeholder='Last Name', ng-model='lastName', required)
                .form-group
                    .col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click='signup()', ng-disabled='signupForm.$invalid') Submit
                            | &nbsp;
                            a.btn.btn-default(href='/') Cancel