doctype
html
    head
        title Clean Sky
        base(href="/")
        link(href='/favicon.ico', rel='shortcut icon', type='image/x-icon')
        link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.css')
        link(rel='stylesheet', href='/vendor/toastr/toastr.css')
        link(rel='stylesheet', href='/css/site.css')
    body(ng-app='app')
        include currentUser
        block main-content
        include scripts
